---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsCard from "../components/ProjectsCard.astro"

import { getCollection } from "astro:content";

const projects = await getCollection('Projects')
---
<BaseLayout>
  <!-- <h1 class="dark:text-white">Projects</h1> -->
  <div class="flex items-center h-full justify-center w-full">
    <div class="grid lg:grid-cols-3 gap-5 py-50">
      {
        projects.map((project:any) => 
        <ProjectsCard
          title={project.data.title}
          description={project.data.description}
          link={project.data.link}
          src={project.data.image.src}
          alt={project.data.image.alt}
        />
        )
      }
    </div>
  </div>
</BaseLayout>